// playfair display
$Pbold: 'Playfair DisplayB';
$PblackI: 'Playfair DisplayBLI';
$Pblack: 'Playfair DisplayBL';
$Pregular: 'Playfair DisplayR';
$PboldI: 'Playfair DisplayBI';
$Pitalic: 'Playfair DisplayI';
// open sans
$Oregular: 'Open SansR';
$Obold: 'Open SansB';
$Olight: 'Open SansL';
$Oitalic: 'Open SansI';
$OboldSB: 'Open SansSB';
$OboldEB: 'Open SansEB';
$OboldBI: 'Open SansBI';
$OboldEBI: 'Open SansEBI';
$OboldSBI: 'Open SansSBI';